{% extends 'orders/base.html' %}

{% block title %}Добавить заказ{% endblock %}

{% block content %}
    <h1>Добавить заказ</h1>
    <form method="post">
        {% csrf_token %}
        <label for="table_number">Номер стола:</label>
        <input type="number" id="table_number" name="table_number" required>
        <br>
        <label for="items">Блюда и цены (в формате JSON):</label>
        <textarea id="items" name="items" rows="5" cols="40" required>{% if form.items.value %}{{ form.items.value }}{% endif %}</textarea>
        <br>
        <button type="submit">Добавить</button>
    </form>
{% endblock %}