{% extends 'orders/base.html' %}

{% block title %}Список заказов{% endblock %}

{% load static %}

{% block content %}
    <h1>Список заказов</h1>
    <ul>
        {% for order in orders %}
            <li>Заказ {{ order.id }} - Стол {{ order.table_number }} - Статус: {{ order.status }} - Общая стоимость: {{ order.total_price }} руб.
                <ul>
                    {% for dish in order.items.all %}
                        <li>{{ dish.name }} - {{ dish.price }} руб.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}